{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block contents %}
	<div class="mt-5 p-3">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend>로그인하기</legend>
				{{form|crispy}}
			</fieldset>
			<div class="mt-4">
				<button class="btn btn-outline-info" type="submit">로그인</button>
			</div>
		</form>
		<div>
			<small class="text-muted">계정이 필요하신가요?</small><a class="btn btn-outline-info ms-3" href="{% url 'user-register' %}">가입하기</a>
		</div>
	</div>
{% endblock %}